@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.switch{
  position:relative;
  height:1.5rem;
  width:3rem;
  cursor:pointer;
  appearance:none;
  border-radius:9999px;
  background-color: rgba(100, 116, 139, 0.377);
}

.switch:checked{
  background-color: hsl(3, 86%, 64%);
}

.switch:before{
  position:absolute;
  content:"";
  left:calc(1.5rem - 1.6rem);
  top:calc(1.5rem - 1.6rem);
  display:block;
  height:1.6rem;
  width:1.6rem;
  cursor:pointer;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(100, 116, 139, 0.527);
  border-radius: 9999px;
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all .3s ease;
}

.switch:hover::before {
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
}

.switch:checked:hover::before {
  box-shadow: 0 0 0px 8px rgba(236, 72, 153, .15)
}

.switch:checked::before{
  transform:translateX(100%);
  border-color: hsl(3, 86%, 64%);
}
